/* Global Styles */
:root {
  --color1: #f05b6f;
  --logo-paper: #e9cfb5;
  --logo-orange: #d96d00;
  --logo-yellow: #e5ca00;
  --logo-white: #ffffff;
  --logo-grey: #707070;
  --logo-black: #030102;
  --disc-dark: #1a242e;
  --disc-dark-blue: #052379;
  --disc-light-blue: #6eadf4;
  --disc-light: #e8e3d0;
  --sleeve-cream: #fbf0d4;
  --sleeve-red: #ee515a;
  --sleeve-old-red: #c66b6a;
  --sleeve-orange: #feaa2d;
  --sleeve-yellow: #f8d54d;
  --sleeve-bright-green: #7cd440;
  --sleeve-dark-green: #5c8d49;
  --sleeve-light-turquoise: #3cdecf;
  --sleeve-dark-turquoise: #6c9896;
  --sleeve-light-purple: #835778;
  --sleeve-bright-purple: #9471f3;
  --sleeve-medium-purple: #4e3864;
  --sleeve-dark-purple: #1b1052;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Futura PT', arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--disc-dark);
  color: var(--sleeve-cream);
}

a {
  color: var(--sleeve-dark-turquoise);
  text-decoration: none;
}

ul {
  list-style: none;
}

.jumbotron {
  background-image: url('./assets/img/bgImg@x2.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Alerts, Backgrounds, Buttons */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--sleeve-cream);
  color: var(--disc-dark);
}

.btn {
  display: inline-block;
  background: var(--sleeve-cream);
  color: var(--disc-dark);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary,
.alert-primary {
  background: var(--sleeve-old-red);
  color: var(--sleeve-cream);
}

.btn-light,
.bg-light,
.alert-light {
  background: var(--sleeve-cream);
  color: var(--disc-dark);
}

.btn-dark,
.alert-dark {
  background: var(--disc-dark);
  color: var(--sleeve-cream);
}

.btn-danger,
.alert-danger {
  background: var(--sleeve-orange);
  color: var(--sleeve-cream);
}

.btn-success,
.alert-success {
  background: var(--sleeve-bright-green);
  color: var(--sleeve-cream);
}

.btn-white,
.alert-white {
  background: var(--sleeve-cream);
  color: var(--disc-dark);
  border: var(--logo-paper) solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light {
  border: var(--logo-grey) solid 1px;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: var(--logo-paper);
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
/* .form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: var(--logo-grey);
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--sleeve-bright-purple);
}

.form input[type='submit'],
button {
  font: inherit;
} */

/* Navbar */
.navbar {
  background-color: var(--disc-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--disc-dark-blue);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--sleeve-cream);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--sleeve-bright-purple);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
/* .landing {
  background: url('./assets/img/bgImg@x2.png') no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
} */

.landingCard {
  position: relative;
  background-color: transparent;
  border: 0;
  width: 100%;
}

.start-sleeve {
  position: absolute;
  top: 60%;
  left: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 55%;
}

.signup-sleeve {
  position: absolute;
  top: 15%;
  left: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 55%;
}

.landingText {
  color: var(--disc-dark);
  font-size: 1.25em;
}

.startBtns {
  display: flex;
  justify-content: flex-end;
}

.signUpBtn,
.loginBtn {
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.signUpBtn {
  background: var(--logo-orange);
}

.signUpBtn:hover {
  background: var(--logo-orange);
  color: var(--sleeve-cream);
  opacity: 0.7;
}

.signUpBtn:focus {
  background: var(--logo-orange);
  color: var(--sleeve-cream);
  opacity: 1;
}

.loginBtn:hover {
  background: var(--sleeve-cream);
  color: var(--disc-dark);
  opacity: 0.6;
}

.loginBtn:focus {
  background: var(--sleeve-cream);
  color: var(--disc-dark);
  opacity: 1;
}

/* Main Page */

/* styles for tracks */
.track {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Mobile Styles */
@media (max-width: 2560px) {
  .landingText,
  .signUpBtn,
  .loginBtn {
    font-size: 2em;
  }
}
@media (max-width: 1440px) {
  .landingText,
  .signUpBtn,
  .loginBtn {
    font-size: 1.5em;
  }
}
@media (max-width: 1024px) {
  .landingText,
  .signUpBtn,
  .loginBtn {
    font-size: 1em;
  }
  .signup-sleeve {
    top: 10%;
  }
}
@media (max-width: 768px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }
  /* Sign Up form */
  .signup-sleeve {
    top: 5%;
  }
  /* styles for tracks */
  .track {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
